.App {
  text-align: center;
}

* {
  box-sizing:border-box;
}

button{
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  cursor: pointer;
}

.button{
  pointer-events:none;
  opacity:0.6; 
}